@import '~bootswatch/dist/darkly/variables';
@import '~bootstrap-scss/bootstrap';
@import '~bootswatch/dist/darkly/bootswatch';

.badge-container {
  display: inline-block;
  width: 70px;
}

a.list-group-item {
  color: #ffffff;
  text-decoration: none;

  &:hover {
    color: #a3a3a3;
  }
}

.migration-log-container {
  background-color: #282C34;
  height: 200px;
  max-height: 200px;
  border-radius: 0.2em;
  color: #9d9d9d;
  border: solid 1px #9d9d9d;
}

.overflow-auto {
  overflow: auto;
}
