<!DOCTYPE html>
<html class="h-100">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ActiveRecord Migration Ui</title>

    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
  </head>
  <body class="h-100">
    <div id="app" class="h-100" />

    <!--- Avoids using webpacker helpers so that you can use this gem without
          webpack allowing to use it in previous Rails versions --->
    <script type="text/javascript">
      fetch('<%= ActiveRecordMigrationUi.configuration.webpacker_host %>/ar-migration-ui-packs/manifest.json')
        .then(response => response.json())
        .then(json => [json['application.js'], json['application.css']])
        .then(([jsPath, cssPath]) => {
          if (cssPath) {
            // Equivalent to stylesheet_pack_tag 'application'
            let link = document.createElement('link')
            link.rel = 'stylesheet'
            link.href = '<%= ActiveRecordMigrationUi.configuration.webpacker_host %>' + cssPath
            document.head.appendChild(link)
          }

          // Equivalent to javascript_pack_tag 'application'
          let script = document.createElement('script')
          script.src = '<%= ActiveRecordMigrationUi.configuration.webpacker_host %>' + jsPath
          document.head.appendChild(script)
        })
    </script>
  </body>
</html>
